<% provide(:title, "Profile") %>

<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<p>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% if current_user.try(:admin?) %> |
    <%= link_to "Delete", @user, method: :delete, 
                                      data: {confirm: "Are you sure?"} %>
  <% end %>
</p>

<% @messages = Message.where("user_id = '#{@user.id}'") %>
<%= render 'layouts/messageList' %>

<% if current_user == @user %>
  <h4><%= link_to "Post a new message", new_message_path %></h4>
<% end %>
